{% extends 'principal/base.html' %}

{% block content %}

<div class="row">
<div class="col-lg-3">
    <div class="card border-0 shadow-sm hub-card mb-3">
        <li class="list-group-item bg-primary bg-opacity-25 fw-bold text-center">{{ pais.nombre }}</li>
        <li class="list-group-item bg-primary bg-opacity-25 text-center">Ciudades</li>
        {% if ciudades %}
        <ul class="list-group" id="ciudades">
            {% for ciudad in ciudades %}
                <li class="list-group-item text-center">
                        {{ ciudad.nombre }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <li class="list-group-item bg-primary bg-opacity-25 text-center"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#altaCiudad">Añadir</button></li>
    </div>
</div>


<div class="col-lg-9">
    <div class="accordion">
        <div class="accordion-item" id="accordionGrupos">
            <div class="accordion-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Grupos</button>
            </div>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                {% if grupos %}
                    <div class="row g-4">
                    {% for grupo in grupos %}
                    <div class="col-4 col-md-4">
                        <div class="card h-100 border-0 shadow-sm hub-card bg-primary bg-opacity-25 text-center">
                            <a href="{% url 'info_grupo' grupo.id %}" class="text-decoration-none text-dark">{{ grupo.nombre }}</a>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    
        <div class="accordion-item" id="accordionArtistas">
            <div class="accordion-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Artistas</button>
            </div>
        </div>
        <div id="collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                {% if artistas %}
                    <div class="row g-4">
                    {% for artista in artistas %}
                    <div class="col-4 col-md-4">
                        <div class="card h-100 border-0 shadow-sm hub-card bg-primary bg-opacity-25 text-center">
                            <a href="{% url 'info_artista' artista.id %}" class="text-decoration-none text-dark">{{ artista.nombre }} ({{ artista.fecha_nacimiento|date:"Y" }})</a>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    
        <div class="accordion-item" id="accordionCompañias">
            <div class="accordion-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Compañías</button>
            </div>
        </div>
        <div id="collapseThree" class="accordion-collapse collapse show">
            <div class="accordion-body">
                {% if compañias %}
                    <div class="row g-4">
                    {% for compañia in compañias %}
                    <div class="col-4 col-md-4">
                        <div class="card h-100 border-0 shadow-sm hub-card bg-primary bg-opacity-25 text-center">
                            <a href="{% url 'info_comp' compañia.id %}" class="text-decoration-none text-dark">{{ compañia.nombre }}</a>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>



<div class="modal fade" id="altaCiudad" tabindex="-1" aria-labelledby="altaCiudadLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="altaCiudadLabel">Añadir Ciudad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      
      <div class="modal-body">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="formulario" value="altaCiudad">
            {{ form.pais }} {{ form.pais.errors }}
            {{ form.nombre.label_tag }} {{ form.nombre }} {{ form.nombre.errors }}
            <button type="submit" class="btn btn-success mt-3">Guardar</button>
        </form>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}