$primary: #003ad9;
$secondary: #c8d2f0;
$accordion-bg: #003ad950;
$accordion-button-bg:rgba(255, 255, 255, 0);
$accordion-button-active-bg: rgba(255, 255, 255, 0);
$accordion-button-active-color:rgb(0, 0, 0);

@import "./node_modules/bootstrap/scss/bootstrap.scss";